.view-one-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-custom {
    width: 90%;
    height: calc(100vh - 100px);
}